header{
  background-color: #505050;
  margin-top: 0;
  padding-top: 0.2%;
  padding-bottom: 0.6%;
  padding-left: 0.2%;
  width: 99%;
  position: fixed;
}

main {
  top : 7px;
}

footer{
  background-color: #909090;
}

footer p{
  padding-bottom: 5px;
}

body{
  background-color: rgb(0, 0, 0);
  margin-top: 0;
}

p{
  padding-left: 5px;
}

a{
  padding-left: 5px;
}

/* Gère les boutons du Header */
.Boutons a{
  font-size: 34px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
}

.Boutons a:hover{
    background-color: #f0f0f0;
    border-style: solid;
    border-color: black;
}

.Acceuil {
  font-size: 114px;
  text-align: center;
  margin-top: -70px;
}

.Acceuil p {
  padding-top: 20%;
  color: white;
  padding-left: inherit;
}

#A-propos{
  border-style: solid;
  color: white;
  background-color: black;
}
