#Competence{

  height: auto;

  .title{
    left: 24vw;
  }

  .col{
      p{
        font-size: 1.5vw;
        text-decoration: underline;
        text-decoration-style: solid;
      }
  }

}

.progress
{
  margin-bottom: 1vh;
}

.Web{
  width: 100%;
}

.Infra{
  width: 100%;
}
