@mixin image-fullscreen{
  left: 30vw;
  position: relative;
  width: 70vw;
  max-width: 70vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#Unity{
  @include image-fullscreen;
  height: 60vh;
  max-height: 60vh;
  background-image: url("../images/Background/UnityImage.jpg");
}

#Programming{
  @include image-fullscreen;
  height: 50vh;
  max-height: 50vh;
  background-image: url("../images/Background/programming.jpg");
}

#ContactImage{
  @include image-fullscreen;
  height: 20vh;
  max-height: 20vh;
  background-image: url("../images/Background/Contact.jpg");
}
