.window{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.Contenu-window{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.Close{
  background-image: url("../images/closeCross.png");
  background-position: center;
  background-size: cover;
  position: relative;
  left: 80%;
  width: 10%;
  height: 10%;
}
