main{

    .title{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            color: #227093;
            font-size: 78px;
        }
    }

    .Latest-post{
        background-color: #d1ccc0;
        color: #707070;
        padding-left: 300px;
        width: 98%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-direction: row;
        margin-bottom: 100px;

        .latest-post-message{
            margin-top: 50px;
            width: 50%;
            display: flex;
            flex-direction: column;
            
            span{
                font-size: 42px;
            }
            
            p{
                width: 60%;
                font-size: 18px;
            }
        }
        
        .latest-post-image{
            margin-top: 50px;
            margin-bottom: -10px;
            width: 40%;
            height: 100%;
            margin-right: 5%;
            background-image: url("http://localhost/portfolio/assets/image/projects/project.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: white solid 10px;
        }
    }

    .articles{
        width: 100%;
        margin-top: 50px;

        .posts{
            height: 600px;
            padding: 30px 0;
            display: flex;
            justify-content: space-around;

            .post{
                height: 80%;
                width: 25%;
                display: flex;
                flex-direction: column;

                &:hover{
                    cursor: pointer;
                }
                
                .post-title{
                    color: #227093;
                    font-size: 32px;
                }

                p{
                    color: #797979;
                }
                
                .post-icon{
                    background-image: url("http://localhost/portfolio/assets/image/Uploads/Blog/test.jpg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 70%;
                    margin-bottom: 20px;
                }

            }

            .post:first-child{
                align-self: flex-end;
            }

            .post:last-child{
                align-self: flex-start;
            }

            .post:nth-child(2){
                align-self: center;
            }
        }
    }

    .posts.dark{
        background-color: #84817a;

        .post{

            &:hover{
                cursor: pointer;
            }

            .post-title{
                color: white;
                font-size: 32px;
            }
    
            p{
                color: white;
            }

            .post-icon{
                border: white solid 10px;
            }
        }
    }
}

@media (max-width: 1400px){
    main{
        .Latest-post{
            padding-left: 200px;
            
            .latest-post-message{
                p{
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    main{
        .Latest-post{
            padding-left: 100px;

            .latest-post-image{
                margin-right: 0;
                margin-bottom: 0;
                width: 50%;
                height: 80%;
            }
        }
    }
}

@media (max-width: 900px){
    main{
        .articles{
            .posts{
                flex-wrap: wrap;
                height: 1200px;

                .post{
                    width: 40%;
                    height: 45%;
                }

                .post:first-child{
                    align-self: unset;
                }
    
                .post:last-child{
                    align-self: unset;
                }
    
                .post:nth-child(2){
                    align-self: unset;
                }
            }
        }
    }
}