main{
    .post-title{
        margin-top: 50px;
        height: 400px;
        background-color: #84817a;
        margin-left: 150px;
        padding-left: 20px;
        padding-top: 20px;
        background-image: url("https://sacha-eghiazarian.fr/assets/image/site/blog.jpg");
        background-position: 200px center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #f7f1e3;
        font-size: 72px;
    }

    .Paragraphe{
        background-color: #f7f1e3;
        margin: 0 20px;
        margin-top: 50px;
        padding: 40px 0;
        padding-right: 50px;
        display: flex;

        img{
            width: 35%;
            height: auto;
            margin-left: -40px;
            margin-right: 50px;
        }
        
        .text{
            display: flex;
            flex-direction: column;

            .title{
                color: #227093;
                font-size: 42px;
                margin: 10px 0;
            }

            .content{
                color: #707070;
            }
        }
    }

    .secondary{
        background-color: inherit;
        margin: 0;

        .text{
            width: 100%;

            .title{
                color: white;
                background-color: #d1ccc0;
                padding-left: 250px;
                width: 50%;
                height: 80px;
                display: flex;
                align-items: center;
                background-image: url("https://sacha-eghiazarian.fr/assets/image/site/icons/settings.png");
                background-size: auto 80%;
                background-position: 150px;
                background-repeat: no-repeat;
            }

            .content{
                padding-left: 250px;
            }
        }    
    }

    .tiercary{
        background-color: inherit;
        margin: 0;

        .text{
            padding-left: 250px;
        }
    }

    .quad{
        background-color: #84817a;
        margin: 0;
        text-align: right;
        flex-direction: row-reverse;

        img{
            margin: 0;
        }

        .text{
            padding-left: 50px;
            padding-right: 50px;

            .title{
                color: white;
            }

            .content{
                color: white;
            }
        }
    }

    .posts{
        margin-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h2{
            text-align: center;
            color: #227093;
            font-size: 78px;
            margin: 0;
            margin-bottom: 50px;
        }
    
        .text{
            color: #707070;
            width: 60%;
            font-size: 18px;
            text-align: center;
        }
    
        a{
            margin-bottom: 20px;
        }
    
        .posts-list{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 100%;
    
            .posts-item{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 500px;
                height: 500px;
                background-color: #f7f1e3;
                margin-bottom: 50px;
                cursor: pointer;
    
                span{
                    background-image: url("https://sacha-eghiazarian.fr/assets/image/projects/project.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                }
    
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 5px 0;
                    margin: 0;
                    background-color: #f7f1e3;
                    border: solid 0.5px #e7e1d3;
                    color: #227093;
                    font-size: 26px;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    main{
        .post-title{
            font-size: 62px;
        }
    }
}

@media (max-width: 1250px){
    main{
        .secondary{
            .text{
                .title{
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    main{
        .post-title{
            margin-left: 50px;
        }

        .secondary{
            .text{
                .title{
                    padding-left: 150px;
                    background-position: 80px;
                }

                .content{
                    padding-left: 150px;
                }
            }
        }

        .tiercary{
            .text{
                padding-left: 150px;
            }
        }
    }
}

@media (max-width: 850px){
    main{
        .post-title{
            font-size: 52px;
        }

        .secondary{
            .text{
                .title{
                    padding-left: 100px;
                    background-position: 30px;
                }

                .content{
                    padding-left: 100px;
                }
            }
        }

        .tiercary{
            .text{
                padding-left: 100px;
            }
        }
    }
}

@media (max-width: 750px){
    main{
        .post-title{
            font-size: 38px;
            margin-left: 0;
        }

        .Paragraphe{
            margin-right: 0;
        }

        .Paragraphe.secondary{
            margin-left: 0;

            .text{
                .title{
                    padding-left: 80px;
                    background-position: 10px;
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 650px){
    main{

        .Paragraphe{
            padding: 10px 0;
            padding-right: 5px;
            margin-left: 100px;

            img{
                margin-left: -100px;
                margin-right: 10px;
                width: 45%;
            }
        }

        .Paragraphe.tiercary{
            margin-left: 0;
        }

        .posts{

            h2{
                font-size: 52px;
            }

            .posts-list{
                .posts-item{
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}

@media (max-width: 550px){
    main{
        .post-title{
            font-size: 38px;
            margin-left: 0;
            background-position: 100px center;
        }

        .Paragraphe.secondary{
            margin-left: 0;

            .text{
                .title{
                    height: 50px;
                    padding-left: 50px;
                    background-position: 5px;
                    width: 80%;
                    background-size: auto 60%;
                    font-size: 32px;
                }

                .content{
                    padding-left: 50px;
                }
            }
        }

        .tiercary{
            .text{
                padding-left: 50px;
            }
        }
    }
}

@media (max-width: 500px){
    main{
        .posts{
            h2{
                font-size: 58px;
            }
        }
    }
}

@media (max-width: 480px){
    main{
        .post-title{
            font-size: 28px;
        }

        .posts{

            h2{
                font-size: 52px;
            }

            .posts-list{
                .posts-item{
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}

@media (max-width: 450px){
    main{
        .Paragraphe{
            margin-left: 80px;

            img{
                width: 40%;
                margin-left: -80px;
            }

            .text{
                padding: 0 10px;

                .title{
                    font-size: 26px;
                }

                .content{
                    font-size: 15px;
                }
            }
        }

        .Paragraphe.secondary{
            .text{
                padding: 0;

                .title{
                    font-size: 24px;
                }

                .content{
                    padding-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 430px){
    main{
        .posts{
            .posts-list{
                .posts-item{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media (max-width: 360px){
    main{

        .Paragraphe{
            margin-left: 50px;

            img{
                margin-left: -50px;
            }

            .text{
                .content{
                    font-size: 14px;
                }
            }
        }

        .posts{
            .posts-list{
                .posts-item{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}