main{
    .intro{
        display: flex;
        height: 100vh;

        .background{
            background-color: #84817a;
            width: 100px;
            height: 100%;
        }

        .texte{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            width: 100%;

            h1{
                color: #2d7798;
                font-size: 48px;
            }

            div{
                text-align: center;
                color: #707070;
                width: 40%;
            }
        }
    }

    .types{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;

        .type{
            height: 300px;
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &:hover{
                cursor: pointer;
            }

            img{
                width: 100%;
                height: auto;
            }

            p{
                font-size: 48px;
                color: #227093;
                text-align: center;
            }
        }

    }

    .skills{
        background-color: #f7f1e3;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 60px;
        margin-top: 50px;
        
        .skill{
            margin: 10px 0;
            font-size: 28px;
            color: #707070;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .skill-bar-holder{
                flex: 0 0 75%;
                background-color: white;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 150px;
                height: 20px;
                position: relative;

                .skill-bar{
                    background-color: #227093;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    height: 100%;
                    width: 2%;
                    display: inline-block;
                    position: absolute;
                }
            }
        }
    }
}

@media (max-width: 1400px){
    main{
        .skills{        
            .skill{
                .skill-bar-holder{
                    margin-right: 100px;
                }
            }
        }
    }
}

@media (max-width: 1250px){
    main{
        .types{
            .type{  
                width: 100px;
                height: 200px;
    
                p{
                    font-size: 38px;
                }
            }
        }

        .skills{
            padding-left: 50px;
            
            .skill{
                font-size: 22px;

                .skill-bar-holder{
                    margin-right: 50px;
                }
            }
        }
    }
}

@media (max-width: 950px){
    main{
        .types{
            .type{
                width: 75px;
                height: 150px;
    
                p{
                    font-size: 28px;
                }
            }
        }

        .skills{
            padding-left: 20px;
            
            .skill{
                font-size: 22px;

                .skill-bar-holder{
                    margin-right: 20px;
                }
            }
        }
    }
}

@media (max-width: 750px){
    main{
        .types{
            .type{
    
                p{
                    font-size: 24px;
                }
            }
        }
        
        .skills{
            .skill{
                .skill-bar-holder{
                    flex-basis: 65%;
                }
            }
        }
    }
}

@media (max-width: 600px){
    main{
        .types{
            flex-direction: column;

            .type{
                width: 120px;
                height: 250px;
                
                img{
                    width: 100%;
                    height: auto;
                }
    
                p{
                    font-size: 24px;
                }
            }
        }

        .skills{
            .skill{
                font-size: 18px;

                .skill-bar-holder{
                    flex-basis: 60%;
                }
            }
        }
    }
}

@media (max-width: 450px){
    main{
        .skills{
            .skill{

                .skill-bar-holder{
                    flex-basis: 50%;
                }
            }
        }
    }
}