html, body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

img{
    height: 100%;
    width: auto;
}

header{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: stretch;

    .menu{
        background: #2d3e4e;
        flex: 0 0 15%;
        display: flex;
        flex-flow: column wrap;
        border: #3d4e5e 0.1px;
        border-right-style: solid;

        .login{
            width: 100%;
            height: 10%;
            padding: 5px 20px;
            margin-bottom: 20px;
            background-color: #1d2e3e;
            border: #2d3e4e 0.1px;
            border-bottom-style: solid;
        }

        .menu-button{
            display: flex;
            flex-flow: column wrap;

            a{
                display: flex;
                text-decoration: none;
                color: lightgray;
                font-size: 24px;
                padding: 10px 20px;
                align-items: center;

                img{
                    padding-right: 10px;
                    height: 25px;
                    width: auto;
                }

                &:hover{
                    color: gray;
                }
            }
        }

    }

    .secondary-menu{
        background: #fafafa;
        height: 5%;
        flex: 1 0 85%;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        border: #f0f0f0 0.1px;
        border-bottom-style: solid;

        .notification{
            width: 35px;

            .logo{
                width: 100%;
                height: 100%;
                background: none;
                border: none;
                background-image: url("../image/notification bell.png");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .num{
                // On met un display none par defaut pour eviter les saut au chargement de la page
                // Le reste du CSS est bien prévu pour un display flex qui est afficher via js
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                font-size: 13px;
                top: 0;
                margin-left: 20px;
                padding-top: 2px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }

            .content{
                display: none;
                width: 300px;
                height: 400px;
                margin-left: -265px;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                
                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: lightgray;
                    height: 40px;
                    padding: 0 10px;

                    .close{
                        justify-self: end;
                        height: 60%;
                        width: auto;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                
                .notification-content{
                    display: flex;
                    height: 360px;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    overflow-y: auto;

                    .notSeen{
                        background-color: #8a8a8a;
                    }

                    .notification-card{
                        flex-grow: 0;
                        flex-shrink: 0;
                        width: 100%;
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;
                        border: #e0e0e0 0.1px;
                        border-style: solid none;

                        opacity: 1;
                        -webkit-transition: opacity 200ms linear;
                        transition: opacity 200ms linear;

                        &:hover{
                            cursor: pointer;
                        }

                        .close{
                            justify-self: end;
                            height: 30%;
                            opacity: 0.6;
                            width: auto;

                            &:hover{
                                opacity: 1;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .no-notification{
                    justify-content: center;
                }
            }
        }

        .dropbtn {
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
            background: none;
        }

        button{
            outline: none;
            cursor: pointer;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            
            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            
            a:hover {
                background-color: #ddd;
            }
        }
        .dropdown:hover .dropdown-content {display: block;}
    }

    main{
        max-height: 95%;
        position: absolute;
        top: 5%;
        left: 15%;
        width: 85%;
        height: 95%;

        .body-content{
            overflow-y: auto;
            padding: 15px;
            width: 100%;
            height: 100%;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
        }
    }

    .card{
        height: 200px;
        border: #e0e0e0 1px solid;
        flex: 0 0 45%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .card-header{
            background-color: lightgray;
            font-size: 24px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            .card-title:first-child{
                justify-self: start;
            }

            img{
                height: 30px;
                cursor: pointer;
            }
        }

        .card-body{
            padding: 15px;
            height: 100%;
        }
    }

    .projet{
        display: flex;
        flex-direction: column;
        height: auto;

        .card-body{
            .card{
                flex: 0 0 100%;
                height: 100px;

                .card-body{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .edit{
                        height: 30%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .skills{
        height: auto;

        .card-body{
            display: flex;
            flex-direction: column;

            .skill{
                display: flex;
                flex-basis: 20px;
                margin: 10px 0;

                .skill-bar-holder{
                    flex: 1 0 20px;
                    background-color: black;
                    border-radius: 10px;
                    margin-left: 10px;

                    .skill-bar{
                        background-color: blue;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        height: 100%;
                        width: 2%;
                        display: inline-block;
                    }
                }
            }
            
        }
    }

    .webSite-info{
        flex-basis: 30%;
        height: 80px;

        .card-body{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;

            img{
                padding: 0 15px;
            }
        }
    }
}